<!doctype html>

<html>
 <head>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
     <script src="javascripts/ChirpApp.js"></script>
     <title>Chirp App</title>
 </head>
<body ng-app = "ChirpApp">
    <div id = "main" ng-controller="mainController">
        <form action="" ng-submit="post()">
            <input required type="text" name="" placeholder="Kalyani Singh" ng-model="newPost.created_by">
            <textarea name="" id="" maxlength = "200" cols="30" rows="3" placeholder="SUNY Potsdam" ng-model="newPost.text">

            </textarea>
            <input class = "button" type="submit" value="Chirp!" id="">
        </form>

        <div id = "post-stream">
            <h4>Chirp Feed</h4>
            <!---To be populated -->
        </div>
    </div>
    
</body>
</html>
